extends layout

block content
    br
    h1.formstyle Administrator Editing Page
    br    
    ul
        each user, i in userlist
            li.mybox.centerit 
                p Date: #{user.date}
                p Post Title: #{user.postname}
                p Name: #{user.username}
                a(href="/singleview/#{user.id}") View
                =" "
                a(href="/edituser/#{user.id}") Edit
                =" "
                a(href="/deleteuser/#{user.id}", onclick="return deleteWarning();" ) Delete
    script.
        function deleteWarning() {
        if (confirm("Are you sure you want to delete?") == true)
        {return true;
        console.log("item deleted")}
        else
        {console.log("delete cancelled")
        return false; }
        }
